<app-spinner *ngIf="signInProgress"></app-spinner>
<p-toast position="top-center"></p-toast>
<div
  class="sign-up-container"
  [ngClass]="{ ar: currentLanguage.code === 'ar' }"
>
  <div class="left-sign-up"></div>
  <div class="right-sign-up">
    <div class="error-container" *ngIf="error || error1">
      <i class="pi pi-exclamation-triangle"></i>
      <div class="error" *ngIf="error">Wrong sign up credential!</div>
      <div class="error2" *ngIf="error1">{{ errorMessage }}</div>
    </div>
    <form
      class="sub-right"
      [formGroup]="registerForm"
      (ngSubmit)="registerUser()"
    >
      <h1>Register</h1>
      <div class="input-container">
        <div class="label">
          <label for="name">{{ "FORM_FIELD.USER_NAME" | translate }}</label>
        </div>
        <input
          type="text"
          class="input-field"
          placeholder="UserName"
          formControlName="name"
        />
      </div>
      <div class="input-container">
        <div class="label">
          <label for="email">{{
            "FORM_FIELD.EMAIL_ADDRESS" | translate
          }}</label>
        </div>
        <input
          type="email"
          id="email"
          class="input-field"
          placeholder="email@gmail.com"
          formControlName="email"
        />
      </div>
      <div class="input-container">
        <div class="label">
          <label for="password">{{ "FORM_FIELD.PASSWORD" | translate }}</label>
        </div>
        <div class="password-container">
          <input
            [type]="showPassword ? 'text' : 'password'"
            id="password"
            class="password"
            placeholder="*********"
            formControlName="password"
          />
          <i
            [class]="showPassword ? 'pi pi-eye' : 'pi pi-eye-slash '"
            (click)="onTogglePasswordVisibility()"
          ></i>
        </div>
      </div>
      <div class="checkbox-container">
        <div class="policy">
          <input type="checkbox" id="checkbox" />
          <label for="checkbox">{{
            "LOGIN.I_AGREE_TERMS_CON" | translate
          }}</label>
        </div>
      </div>
      <app-primary-button type="submit">{{
        "BUTTON_ACTIONS.SIGN_UP" | translate
      }}</app-primary-button>
      <div>
        {{ "LOGIN.ALREADY_HAVE_AN_ACC" | translate
        }}<a routerLink="/signin">{{ "LOGIN.LOG_IN" | translate }}</a>
      </div>
    </form>
  </div>
</div>
