<!-- <app-back-btn (click)="navgateToAccount()">{{
  "SIDE_BAR.MY_ACCOUNT" | translate
}}</app-back-btn> -->
<app-spinner *ngIf="isLoder"></app-spinner>
<div class="add-product-container">
  <div class="caption-container" *ngIf="onEditForm">Edit Product</div>
  <div class="caption-container" *ngIf="!onEditForm">Add Product</div>
  <div class="main-container">
    <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
      <div class="input-box-container">
        <div class="input-box">
          <label for="name" class="name">Product Name</label>
          <input type="text" pInputText formControlName="product_name" />
        </div>
        <div class="input-box">
          <label for="quantuty" class="name">Product Quantuty</label>
          <div>
            <input
              type="text"
              pInputText
              class="quantity"
              formControlName="quantity"
            />

            <!-- formControlName="unit" -->
            <p-dropdown
              [options]="QuantityUnits"
              optionLabel="name"
              placeholder="select unit"
              (onChange)="passUnitValue($event.value.id)"
            ></p-dropdown>
          </div>
        </div>
      </div>
      <div class="input-box-container">
        <!-- <div class="input-box"> -->
        <label for="name" class="name">Product price:</label>
        <input type="text" formControlName="priceinINR" class="price-input" />
        <span>INR</span>
        <input type="text" formControlName="priceinAED" class="price-input" />
        <span>AED</span>
        <input type="text" formControlName="priceinEUR" class="price-input" />
        <span>pound</span>
        <input type="text" formControlName="priceinUSD" class="price-input" />
        <span>USD</span>
        <!-- <input type="number" formControlName="priceAUD" class="price-input" />
        <span>AUD</span> -->
      </div>
      <!-- </div> -->

      <div class="input-box-container">
        <div class="input-area">
          <label for="name" class="name">Description</label>
          <textarea
            rows="5"
            cols="30"
            pInputTextarea
            formControlName="product_description"
            [autoResize]="true"
          ></textarea>
        </div>
      </div>
      <div class="input-box-container">
        <div class="input-box">
          <label for="name" class="name">shipping</label>
          <div class="radio-container">
            <div class="radio-option">
              <p-radioButton
                value="1"
                name="shipping"
                formControlName="shipping"
              ></p-radioButton>
              <label for="">international</label>
              <p-radioButton
                value="0"
                name="shipping"
                formControlName="shipping"
              ></p-radioButton>
              <label for="">none</label>
            </div>
          </div>
        </div>
        <div class="input-box">
          <label for="name" class="name">freeDelivary</label>
          <div class="radio-option">
            <p-radioButton
              value="1"
              name="freeDelivary"
              formControlName="free_delivery"
            ></p-radioButton>
            <label for="">available</label>
            <p-radioButton
              value="0"
              name="freeDelivary"
              formControlName="free_delivery"
            ></p-radioButton>
            <label for="">not available</label>
          </div>
        </div>
      </div>
      <div class="input-box-container">
        <div class="input-box">
          <label for="name" class="name">Cash On Delivery</label>

          <div class="radio-option">
            <p-radioButton
              value="1"
              name="delivaryOption"
              formControlName="cod"
            ></p-radioButton>
            <label for="">available</label>
            <p-radioButton
              value="0"
              name="delivaryOption"
              formControlName="cod"
            ></p-radioButton>
            <label for="">not available</label>
          </div>
        </div>
        <div class="input-box">
          <label for="name" class="name">Refundable</label>

          <div class="radio-option">
            <p-radioButton
              value="1"
              name="reFund"
              formControlName="reFund"
            ></p-radioButton>
            <label for="">available</label>
            <p-radioButton
              value="0"
              name="reFund"
              formControlName="reFund"
            ></p-radioButton>
            <label for="">not available</label>
          </div>
        </div>
      </div>
      <!-- <input type="text" 
      formControlName="image" > -->
      <div class="input-box-container">
        <div class="input-box">
          <label for="fileUpload">File Upload</label>
          <input type="file" (change)="onImageChange($event)" />
        </div>
        <!-- <div class="input-box">
          <label for="Coupon">Coupon</label>
          <input type="text" pInputText formControlName="coupon" />
        </div> -->
      </div>
      <div class="input-box-container">
        <div class="input-box">
          <label for="">Category</label>
          <!-- formControlName="category" -->
          <p-dropdown
            [options]="categorys"
            optionLabel="name"
            placeholder="Choose Category"
            (onChange)="passCategorysValue($event.value.id)"
          ></p-dropdown>
        </div>
      </div>
      <p-button type="submit">Submit</p-button>
    </form>
  </div>
</div>
