.main-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  background-color: #f0f2f5;

  .offer-banner {
    height: 500px;
    width: 100%;

    .img {
      height: 100%;
      width: 100%;
    }
  }
  .title {
    padding-left: 40px;
    font-size: xx-large;
    font-weight: 700;
    color: gray;
    font-family: cursive;
  }
}
.main-container.ar {
  direction: rtl;
  padding-right: 10px;
}
.product-card {
  border: 1px solid gray;
  border-radius: 25%;
  width: 150px;
  height: 200px;
}

@media screen and (max-width: 920px) {
  .main-container {
    .offer-banner {
      height: 350px;
    }
  }
}

@media screen and (max-width: 660px) {
  .main-container {
    .offer-banner {
      height: 250px;
    }
  }
}
