<app-spinner *ngIf="loginInProgress"></app-spinner>
<div class="main-container" [ngClass]="{ ar: currentLanguage.code === 'ar' }">
  <div class="offer-banner" (click)="navigateToOffers()">
    <img class="img" [src]="getPic()" alt="" />
  </div>
  <app-card-header
    heading="Flash sales"
    title="Todays"
    date="date"
  ></app-card-header>

  <app-category-product-list
    [dropdownItems]="productList[0].crunchy"
    intialCardCount="4"
  ></app-category-product-list>
  <p-divider></p-divider>
  <app-card-header
    heading="Browse By Category"
    title="Categories"
  ></app-card-header>
  <app-category></app-category>
  <app-card-header
    heading="Our Products"
    title="Explore Our Products"
  ></app-card-header>
  <app-category-product-list
    [dropdownItems]="productList[0].crunchy"
    intialCardCount="8"
  ></app-category-product-list>

  <div class="services-container">
    <div class="services" *ngFor="let item of serviceList">
      <img src="{{ item.image }}" alt="" />
      <div class="heading">{{ item.heading }}</div>
      <div class="title">{{ item.title }}</div>
    </div>
  </div>
</div>
