<div class="main-container">
  <div class="title-container">
    <img src="../../../../assets/images/red-icon.svg" alt="" />
    <div class="title">{{ title }}</div>
  </div>
  <div class="heading-container">
    <div class="heading">{{ heading }}</div>
    <div class="count-down" *ngIf="date">
      <div class="item">
        <div class="top">Days</div>
        <div class="bottom">05</div>
      </div>
      <span>:</span>
      <div class="item">
        <div class="top">Hours</div>
        <div class="bottom">05</div>
      </div>
      <span>:</span>
      <div class="item">
        <div class="top">Minutes</div>
        <div class="bottom">05</div>
      </div>
      <div class="item">
        <div class="top">Seconds</div>
        <div class="bottom">05</div>
      </div>
    </div>
  </div>
</div>
