<div class="product-list" [ngClass]="{ ar: currentLanguage.code === 'ar' }">
  <p-card
    header="{{ item.productName }}"
    subheader="{{ item.quantity }}"
    *ngFor="let item of dropdownItems"
  >
    <ng-template pTemplate="header">
      <img src="/assets/images/poster/ptoto chips mckp.jpg" alt="" />
      <!-- <img alt="Card" [src]="item.imageUrl" /> -->
    </ng-template>
    <div class="price">
      {{ item.price | currency : "INR" }}
    </div>
    <ng-template pTemplate="footer">
      <p-button
        label="{{ 'HOME.BUY_NOW' | translate }}"
        (onClick)="navigateProduct(item.id)"
      ></p-button>
      <p-button
        label="{{ 'HOME.CART' | translate }}"
        icon="pi pi-shopping-cart"
        styleClass="p-button-secondary"
        [style]="{ 'margin-left': '.5em' }"
        (onClick)="addToCart(item.id)"
      ></p-button>
    </ng-template>
  </p-card>
</div>
