.product-list {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-template-columns: auto auto auto auto;
  display: grid;
  gap: 25px;

  img {
    width: 330px;
    height: 250px;
  }

  p-card {
    width: 330px;
  }
  ::ng-deep p-card {
    
    .p-card-content {
      padding: 0;
    }
    .p-card-footer {
      padding: 0;
      padding-top: 5px;
      display: flex;
      gap: 10px;
    }
    .p-card-body{
      padding: 10px 20px;
      .p-card-title{
        margin-bottom: 0;
      }
    }
  }
}

.product-list.ar{
  direction: rtl;
}

@media screen and (max-width: 1410px){
  .product-list {
    img {
      width: 300px;
    }
    p-card {
      width: 300px;
    }
  }
}

@media screen and (max-width: 1280px) {
  .product-list {
    grid-template-columns: auto auto auto auto;
    img {
      width: 280px;
    }
    p-card {
      width: 280px;
    }
  }
}
@media screen and (max-width: 1210px) {
  .product-list {
    grid-template-columns: auto auto auto ;
    img {
      width: 300px;
    }
    p-card {
      width: 300px;
    }
  }
}
@media screen and (max-width: 920px) {
  .product-list {
    grid-template-columns: auto auto;
    img {
      width: 300px;
    }
    p-card {
      width: 300px;
    }
  }
}
@media screen and (max-width: 660px) {
  .product-list {
    grid-template-columns: auto;
    img {
      width: 360px;
    }
    p-card {
      width: 360px;
    }
  }
}
@media screen and (max-width: 400px) {
  .product-list {
    grid-template-columns: auto;
    img {
      width: 280px;
    }
    p-card {
      width: 280px;
    }
  }
}
