<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>
<app-back-btn (click)="navgateToAccount()">{{
  "SIDE_BAR.MY_ACCOUNT" | translate
}}</app-back-btn>

<div class="main-container">
  <div class="my-reviews">{{ "ACCOUNT.MY_REVIEWS" | translate }}</div>
  <div class="review-container">
    <div class="image"></div>
    <div class="review">
      <div class="product-name">achapam</div>
      <div class="rating-title">nice product</div>
      <div class="review-comment">
        <div class="rating">
          <i class="pi pi-star"></i>
          4
        </div>
      </div>
      <div class="date">12-dec-2023</div>
      <!-- <app-edit-delete-button></app-edit-delete-button> -->
      <div class="buttons">
        <p-button styleClass="p-button-warning">{{
          "BUTTON_ACTIONS.EDIT" | translate
        }}</p-button>
        <p-button styleClass="p-button-danger" (onClick)="confirm1()">
          {{ "BUTTON_ACTIONS.DELETE" | translate }}
        </p-button>
      </div>
    </div>
  </div>
</div>
