<app-spinner *ngIf="inProgress"></app-spinner>
<p-toast position="top-center"></p-toast>
<div class="main-container" [ngClass]="{ ar: currentLanguage.code === 'ar' }">
  <div class="sub-container">
    <h4>{{ "FORGOT.CHANGE_PASSWORD" | translate }}</h4>
    <form
      [formGroup]="changePasswordForm"
      class="change-password-form"
      (ngSubmit)="changePassword()"
    >
      <label for="email">{{ "FORM_FIELD.EMAIL_ADDRESS" | translate }}</label>
      <input
        type="email"
        placeholder="email@gmail.com"
        formControlName="email"
        readonly="true"
      />
      <label for="password">{{ "FORM_FIELD.PASSWORD" | translate }}</label>
      <input type="password" placeholder="password" formControlName="password" />
      <button type="submit">{{ "FORGOT.CHANGE_PASSWORD" | translate }}</button>
    </form>
  </div>
</div>
