@import "/src/styles/color";

.account-container {
  display: flex;
  justify-content: flex-end;
  margin: 0.5rem 0.5rem;

  position: relative;

  .title {
    padding-right: 1rem;
    font-weight: 300;
  }

  .account-details {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    cursor: pointer;
  }

  .user {
    font-weight: 300;
    display: block;
  }

  .account-dropdown {
    display: none;
    position: absolute;
    top: 2.5rem;
    right: 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f08585;
    color: black;
    width: max-content;

    .available-list {
      display: flex;
      padding: 0.5rem 1rem;
      cursor: pointer;
      align-items: center;
      // justify-content: center;
      gap: 4px;
      &:hover {
        background-color: #f0f2f5;
      }

      .pi {
        margin: 0 0.5rem 0 0;
      }

      .name {
        font-size: 0.95rem;
        font-weight: 500;
      }
    }

    &.active {
      display: block;
    }
  }
}
.account-container.ar {
  .account-dropdown {
    right: auto;
    .available-list {
      gap: 5px;
    }
  }
}

@media screen and (max-width: 980px) {
  .account-container {
    .account-details {
      .user {
        display: none;
      }
    }
  }
}
