.input-field {
    width: 500px;
    height: 50px;
    padding: 20px;
    border: 1px solid rosybrown;
    background-color: rgb(243, 221, 221);
    outline: none;
    cursor: pointer;
    border-radius: 5px;
}