<div class="main-container">
  <div class="left-container">
    <div class="address">
      <div class="left">Deliver to : </div>
      <div class="right">
        <button class="change">change</button>
      </div>
    </div>
    <div class="cart-container">
      <div class="cart-items" *ngFor="let item of cartList">
        <div class="image-add">
          <div class="image">
            <img src="{{ item.image_file }}" alt="" />
          </div>
          <div class="add">
            <i class="pi pi-minus" (click)="decreseCount(item.product_id)"></i>
            <div class="count">{{item.count}}</div>
            <i class="pi pi-plus" (click)="increaseCount(item.product_id)"></i>
          </div>
        </div>
        <div class="cart-details">
          <div class="cart--items">
            <div class="item-name">{{ item.product_name }}</div>
            <div class="price">{{ item.price }}</div>
          </div>
          <div>
            <button class="remove" (click)="onItemRemove(item.product_id)">
              Remove
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="place-order">
      <button pButton class="p-button-warning" (click)="buy()">Place Order</button>
    </div>
  </div>
  <div class="right-container">
    <div class="heading">Price Details</div>
    <p-divider></p-divider>
    <div class="details">
      <div class="item">Price</div>
      <div class="value">{{totalPrice}}</div>
    </div>
    <div class="details">
      <div class="item">Items</div>
      <div class="value">{{cartList.length}}</div>
    </div>
    <div class="details">
      <!-- <div class="item">Delivary charges</div>
      <div class="value">454</div> -->
    </div>
    <p-divider></p-divider>
    <div class="details">
      <div class="item">Total Amount</div>
      <div class="value">{{totalPrice}}</div>
    </div>
  </div>
</div>
