 <ng-container *ngIf="true" >
    <div class="cart-container">
        <div class="adress">
          <h3>choose your delivery address</h3>
          <div class="adress-box">
              <div class="icon">
                  <i  class="pi pi-home" style="font-size: 2.5rem" ></i>
              </div>
              <div class="adress-details">
                 <h2 >Home</h2>
                 <p>near hotel karthika park kazhakkoottam trivandrum,695584</p>
                 <div class="estimated-time">10mins</div>
                 <button>DELIVER HERE</button>
              </div>
          </div>
          <div class="adress-box">
              <div class="icon">
                  <i  class="pi pi-home" style="font-size: 2.5rem" ></i>
              </div>
              <div class="adress-details">
                 <h2 >Other</h2>
                 <p>near hotel karthika park kazhakkoottam trivandrum,695584</p>
                 <div class="estimated-time">10mins</div>
                 <button>DELIVER HERE</button>
              </div>
          </div>
          <div class="adress-box">
              <div class="icon">
                  <i  class="pi pi-briefcase" style="font-size: 2.5rem" ></i>
              </div>
              <div class="adress-details">
                 <h2 >Work</h2>
                 <p>near hotel karthika park kazhakkoottam trivandrum,695584</p>
                 <div class="estimated-time">10mins</div>
                 <button>DELIVER HERE</button>
              </div>
          </div>
          <div class="adress-box">
              <div class="icon">
                  <i class="pi pi-map-marker" id="map"></i>
              </div>
              <div class="adress-details">
                 <h2 >Add New Address Here</h2>
                 <p style="margin-bottom: 50px;">near hotel karthika park kazhakkoottam trivandrum,695584</p>
                 <button>ADD NEW</button>
              </div>
          </div>
        </div>
        <div class="cart-card">
              <div class="cart-snack">
                <div style="display: flex; align-items: center; gap: 20px;">
                    <div class="snack-image">
                        <img src="https://static.toiimg.com/photo/101353978.cms" alt="snack">
                    </div>
                    <div class="snack-name"> <b>chilli cheese</b> </div>
                </div>
                <div class="quantity-box">1</div>
                <div class="total-amoun">$500</div>
              </div>
        </div> 
      </div>
 </ng-container>

