.cart-container {
    background-color: lightgray;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr .5fr;
    gap: 10px;
    padding: 50px 100px;
}

.adress {
    border: 1px solid rosybrown;
    border-radius: 5px;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 50px;
    padding-top: 90px;
    gap: 10px;
    position: relative;
}

h3 {
    position: absolute;
    top: 10px;
    left: 50px;
}

.adress-box {
    box-shadow: 5px 5px 5px 5px rgba(237, 127, 127, 0.1);
    display: flex;
    padding: 10px;
    padding-left: 20px;
    gap: 20px;
}

.icon {
    width: 20px;

    .pi::before {
        font-size: 23px;
        font-weight: 400;
        padding-top: 20px;
    }

    #map {
        padding-top: 17px;
    }
}

.adress-details {
    max-width: 300px;

    h2 {
        font-size: 20px;
    }

    .estimated-time {
        margin-bottom: 20px;
    }

    button {
        padding: 10px 20px;
        border-radius: 5px;
        background-color: rgb(229, 188, 188);
        border: 1px solid rgb(242, 142, 142);
        font-size: 15px;
        font-weight: 500; /* Corrected value */
    }
}

.cart-card {
    border-radius: 5px;
    background-color: white;
    padding: 20px;
    border: 1px solid rosybrown;
    .watchlist{
        padding: 10px;
        border: 1px solid rosybrown;
        border-radius: 5px;
        max-height: 250px;
        overflow: auto;
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 15px;
    }

.cart-snack {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rosybrown;
    padding: 10px;
    border-radius: 5px;
    max-height: 400px;
    .quantity-box{
        display: flex;
        gap: 20px;
        border: 1px solid rosybrown;
        padding: 5px 10px;
        border-radius: 5px;
        align-items: center;
        justify-content: center;
        text-align: center;
      .count{
        font-size: 20px;
      }
      .subtract:hover,.add:hover{
        cursor: pointer;
        color: red;
      }
      button{
        background-color: transparent;
        border: none;
        outline: none;
      }

    }
}

.snack-image {
    width: 80px;
    height: 80px;

    img {
        width: 100%;
        height: 100%;
        border-radius: 5px;
    }
}
.bill-details{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    .suggestion-box{
        width: 100%;
        outline: none;
        border: none;
        background-color: rgb(236, 201, 201);
        border-radius: 5px;
        height: 50px;
        padding: 10px;
    }
    .checkbox{
        display: flex;
        gap: 5px;
        border: 1px solid rosybrown;
        padding: 10px;
        align-items: flex-start;
        .details{
            font-weight: 600;
        }
    }
    .bill-amount{
        display: flex;
        flex-direction: column;
        border-bottom: 2px solid lightgray;
        .amount{
            display: flex;
            justify-content: space-between;
            h5{
                font-weight: 500;
            }
        }
    }
    .delivery-fee{
        display: flex;
        justify-content: space-between;
        border-bottom: 2px solid lightgray;

        span{
            color: green;
        }
    }
    .Total-amount{
        display: flex;
        justify-content: space-between;
    }
}
.empty-cart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 20px;
    img{
        width: 200px;
        height: 200px;
    }
    button{
        padding: 10px 15px;
        outline: none;
        background-color: rgb(242, 194, 194);
        border: 1px solid rosybrown;
        &:hover{
            transform: scale(1.1); /* Adjust the scale factor to your preference */
            transition: transform 0.3s ease; 
        }
    }
    
}
}