.main-container {
  width: 100%;
  display: flex;
  // align-items: center;
  justify-content: center;
  gap: 10px;
  .left-container {
    background-color: white;
    padding: 15px;
    display: flex;
    flex-direction: column;
    height: 480px;
    gap: 10px;
    .address {
      display: flex;
      justify-content: space-between;
      height: 50px;
      .right {
        .change {
          padding: 3px 5px;
          border: 1px solid gray;
          border-radius: 2px;
          color: blue;
        }
      }
    }
    .cart-container {
      display: flex;
      overflow: scroll;
      flex-direction: column;
      gap: 10px;
      .cart-items {
        display: flex;
        width: 500px;
        gap: 10px;
        height: 460px;

        .image-add {
          display: flex;
          flex-direction: column;
          gap: 5px;
          align-items: center;
          img {
            height: 100px;
            width: 100px;
          }
          .add {
            display: flex;
            gap: 5px;
            i {
              border: 1px solid gray;
              border-radius: 50%;
              padding: 3px;
            }
            .count {
              border: 1px solid gray;
              padding: 2px 5px;
              align-items: center;
            }
          }
        }
        .cart-details {
          display: flex;
          // gap: 10px;
          justify-content: space-between;
          flex-direction: column;
          .cart--items {
            display: flex;
            gap: 10px;
            flex-direction: column;
          }
          .remove {
            padding: 3px 5px;
            border-radius: 4px;
            background-color: white;
          }
        }
      }
    }
    .place-order {
      display: flex;
      justify-content: end;
    }
  }
  .right-container {
    background-color: white;
    width: 350px;
    padding: 10px 15px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    .heading {
      color: gray;
      font-size: medium;
      font-weight: 700;
    }
    .details {
      display: flex;
      justify-content: space-between;
    }
  }
}

@media screen and (max-width: 580px) {
  .main-container{
    flex-direction: column;
    .left-container{

    }
  }
}