<app-back-btn (click)="navgateToAccount()">{{
  "SIDE_BAR.MY_ACCOUNT" | translate
}}</app-back-btn>
<div
  class="add-address-container"
  [ngClass]="{ ar: currentLanguage.code === 'ar' }"
>
  <div class="caption-container" *ngIf="onEditForm">
    {{ "ADDRESS.EDIT_ADDRESS" | translate }}
  </div>
  <div class="caption-container" *ngIf="!onEditForm">
    {{ "ADDRESS.ADD_ADDRESS" | translate }}
  </div>
  <div class="main-container">
    <form [formGroup]="addressForm" (ngSubmit)="onSubmit()">
      <div class="input-box-container">
        <div class="input-box">
          <label for="" class="name">{{ "FORM_FIELD.NAME" | translate }}</label>
          <input type="text" pInputText formControlName="name" />
        </div>
        <div class="input-box">
          <label for="" class="name">{{
            "FORM_FIELD.PHONE_NUMBER" | translate
          }}</label>
          <p-inputNumber
            inputId="withoutgrouping"
            [useGrouping]="false"
            formControlName="phoneNo"
          >
          </p-inputNumber>
        </div>
      </div>
      <div class="input-box-container">
        <div class="input-box">
          <label for="" class="name">{{
            "FORM_FIELD.PIN_CODE" | translate
          }}</label>
          <p-inputNumber
            inputId="withoutgrouping"
            [useGrouping]="false"
            formControlName="pinCode"
          >
          </p-inputNumber>
        </div>
        <div class="input-box">
          <label for="" class="name">{{
            "FORM_FIELD.LOCALITY" | translate
          }}</label>
          <input type="text" pInputText formControlName="locality" />
        </div>
      </div>
      <div class="input-box-container">
        <div class="input-area">
          <label for="" class="name">{{
            "FORM_FIELD.ADDRESS" | translate
          }}</label>
          <textarea
            rows="5"
            cols="30"
            pInputTextarea
            formControlName="address"
            [autoResize]="true"
          ></textarea>
        </div>
      </div>
      <div class="input-box-container">
        <div class="input-box">
          <label for="" class="name">{{ "FORM_FIELD.CITY" | translate }}</label>
          <input type="text" pInputText formControlName="city" />
        </div>
        <div class="input-box">
          <label for="" class="name">{{
            "FORM_FIELD.STATE" | translate
          }}</label>
          <input type="text" pInputText formControlName="state" />
        </div>
      </div>

      <div class="input-box-container">
        <div class="input-box">
          <label for="" class="name">{{
            "FORM_FIELD.LANDMARK" | translate
          }}</label>
          <input type="text" pInputText formControlName="landMark" />
        </div>
        <div class="input-box">
          <label for="" class="name">{{
            "FORM_FIELD.ALTERNATIVE_PHONE" | translate
          }}</label>
          <p-inputNumber
            inputId="withoutgrouping"
            [useGrouping]="false"
            formControlName="alternativeNo"
          >
          </p-inputNumber>
        </div>
      </div>
      <div class="input-address-container">
        <div class="address-type">
          <p-radioButton
            value="Home"
            name="addressType"
            formControlName="addressType"
          ></p-radioButton>
          <label for="home">{{ "ADDRESS.HOME" | translate }}</label>
        </div>
        <div class="address-type">
          <p-radioButton
            value="Office"
            name="addressType"
            formControlName="addressType"
          ></p-radioButton>
          <label for="home">{{ "ADDRESS.OFFICE" | translate }}</label>
        </div>
        <div class="address-type">
          <p-radioButton
            value="other"
            name="addressType"
            formControlName="addressType"
          ></p-radioButton>
          <label for="home">{{ "ADDRESS.OTHER" | translate }}r</label>
        </div>
      </div>
      <div class="button-footer">
        <button pButton class="p-button-warning" type="submit">
          {{ "BUTTON_ACTIONS.SAVE" | translate }}
        </button>
        <span class="cancel" (click)="clearForm()">{{
          "BUTTON_ACTIONS.CANCEL" | translate
        }}</span>
      </div>
    </form>
  </div>
</div>
