<div class="main-container">
  <div class="address">
    <div class="title">Delivery Address</div>
    <div class="details">
      <span class="name">TC/1229</span>
      <div class="name">AFDC Building ,thycaud ,6748356</div>
      <div class="name">Contact - 1234567890</div>
    </div>
  </div>
  <div class="product-container">
    <div class="image">
      <img src="../../../../../../assets/images/g27cq4-500x500 1.svg" alt="" />
    </div>
    <div class="details">
      <div class="product-name">Bingo</div>
      <div class="quality">Quaility : 5</div>
      <div class="price-container">
        <div class="price">$51654</div>
        <div class="offer">2 offer applied</div>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="graph"></div>
    <div class="footer-button">
      <app-primary-button>Cancel Order</app-primary-button>
      <app-primary-button>Need Help</app-primary-button>
    </div>
  </div>
</div>
