<app-spinner *ngIf="loginInProgress"></app-spinner>
<div class="main-container">
  <div class="add-new">
    <app-primary-button (click)="navigateToAddAddress()">{{
      "ADDRESS.ADD_ADDRESS" | translate
    }}</app-primary-button>
  </div>
  <div class="add-new-mubile">
    <app-primary-button (click)="navigateToAddAddressMobile()">{{
      "ADDRESS.ADD_ADDRESS" | translate
    }}</app-primary-button>
  </div>
  <div class="address-container" *ngFor="let item of addressList">
    <div class="left">
      <div class="name">
        <div class="text">{{ item.address_fullname }}</div>
        <div class="text">{{ item.address_phone_number }}</div>
      </div>
      <div class="address">
        {{ item.address_building_name }}
      </div>
    </div>
    <div class="right">
      <app-option-drop-down
        id="{{ item.address_id }}"
        (cardEvent)="onDelete($event)"
      ></app-option-drop-down>
      <!-- (click)="onClick()" -->
      <!-- [triggerClick]="triggerClick" -->
      <!-- <app-spinner></app-spinner> -->
      <!-- <div
        class="account-container"
        (click)="onDropdown()"
        (clickElsewhere)="onHideDropdown()"
      >
        <div class="account-details">
          <div class="user-icon">
            <i class="pi pi-ellipsis-v"></i>
          </div>
        </div>

        <div class="account-dropdown" [ngClass]="{ active: show }">
          <!-- <div
      class="available-list"
      (click)="onHideDropdown()"
      *ngFor="let item of items"
    >
      {{ item.name }}
    </div> -->
      <!-- <div class="available-list" (click)="onEditAddress(item.address_id)">
            {{ "BUTTON_ACTIONS.EDIT" | translate }}
          </div>
          <div class="available-list" (click)="onDeleteAddress(item.address_id)">
            {{ "BUTTON_ACTIONS.DELETE" | translate }}
          </div>
          <div class="available-list" (click)="onSetActiveAddress(item.address_id)">
            {{ "Active" | translate }}
          </div>
        </div>
      </div> -->
      
    </div>
  </div>
</div>
