<app-spinner *ngIf="loginInProgress"></app-spinner>
<div class="main-container">
  <div class="add-new">
    <app-primary-button (click)="navigateToAddAddress()">{{
      "ADDRESS.ADD_ADDRESS" | translate
    }}</app-primary-button>
  </div>
  <div class="add-new-mubile">
    <app-primary-button (click)="navigateToAddAddress()">{{
      "ADDRESS.ADD_ADDRESS" | translate
    }}</app-primary-button>
  </div>
  <div class="address-container" *ngFor="let item of addressList">
    <div class="left">
      <div class="name">
        <div class="text">{{ item.address_fullname }}</div>
        <div class="text">{{ item.address_phone_number }}</div>
      </div>
      <div class="address">
        {{ item.address_building_name }}
      </div>
    </div>
    <div class="right">
      <app-option-drop-down id="{{ item.address_id }}"></app-option-drop-down>
    </div>
  </div>
</div>
