<div class="navbar-container">
  <div class="navbar-top">
    <app-language-selector></app-language-selector>
  </div>
  <div class="navbar-bottom">
    <div class="bhakshanam-logo" routerLink="home">
      <img
        src="../../../../assets/images/Rectangle 19.svg"
        alt="bhakshanam-logo"
      />
    </div>
    <div class="search-box" [formGroup]="form">
      <input
        type="text"
        class="text"
        name="search"
        formControlName="searchTerm"
      />
      <img src="/assets/images/Vector.svg" alt="" pBadge [value]="cartCount" />
    </div>
    <div class="right-container">
      <div class="home" routerLinkActive="active" routerLink="/home">Home</div>
      <app-profile></app-profile>
      <div class="cart" routerLink="/cart">
        <div class="cart-count" *ngIf="cartCount !== 0">{{ cartCount }}</div>
        <img src="/assets/images/cart.svg" alt="" />
      </div>
      <div class="watchlist">
        <div class="cart-count" *ngIf="cartCount !== 0">{{ cartCount }}</div>
        <img src="/assets/images/love.svg" alt="" />
      </div>
    </div>
  </div>
</div>

<!-- <div class="navbar-container" [ngClass]="{ ar: currentLanguage.code === 'ar' }">
  <div class="navbar-left">
    <div class="bhakshanam-logo" routerLink="home">
      <img
        src="/assets/images/logo_6-removebg-preview.png"
        alt="bhakshanam-logo"
      />
    </div>
  </div>
  <div class="navbar-right">
    <div class="search-box" [formGroup]="form">
      <input
        type="text"
        class="text"
        name="search"
        formControlName="searchTerm"
      />
      <i class="pi pi-search"></i>
    </div>
    <div class="navbar-tabs">
      <div
        class="nav-tab"
        *ngFor="let link of linksForNavbar"
        [routerLink]="[link.route]"
        routerLinkActive="active"
      >
        <span>{{ link.icon }}</span>
        <span class="title">{{ link.title | translate }}</span>
      </div>
    </div>
    <div class="cart" routerLink="/cart">
      <i
        class="pi pi-shopping-cart"
        pBadge
        [value]="values"
        style="font-size: 2rem"
        severity="success"
        *ngIf="values !== 0"
      ></i>
      <i
        class="pi pi-shopping-cart"
        style="font-size: 2rem"
        *ngIf="values == 0"
      ></i>
    </div>
    <app-language-selector></app-language-selector>
    <app-profile></app-profile>
  </div>
</div> -->

<!-- mobile design start here  -->
<div
  class="navbar-container-for-mobile"
  [class.fixed]="isNavbarFixed"
  [ngClass]="{ ar: currentLanguage.code === 'ar' }"
>
  <div class="navbar-top">
    <div class="navbar-left">
      <i
        class="p-toolbar-separator pi pi-bars mr-2"
        style="vertical-align: middle"
        (click)="sidebarVisible()"
      ></i>
      <div class="bhakshanam-logo" routerLink="home">
        <img
          src="/assets/images/logo_6-removebg-preview.png"
          alt="bhakshanam-logo"
        />
      </div>
    </div>
    <div class="navbar-right">
      <div class="cart" routerLink="/cart">
        <i
          class="pi pi-shopping-cart"
          pBadge
          [value]="cartCount"
          style="font-size: 1.5rem"
          severity="success"
          *ngIf="cartCount !== 0"
        ></i>
        <i
          class="pi pi-shopping-cart"
          style="font-size: 1.5rem"
          *ngIf="cartCount == 0"
        ></i>
      </div>
      <app-language-selector></app-language-selector>
      <app-profile></app-profile>
    </div>
  </div>
  <div class="navbar-bottom">
    <div class="search-box" [formGroup]="form">
      <input
        type="text"
        class="text"
        name="search"
        formControlName="searchTerm"
      />
      <i class="pi pi-search"></i>
    </div>
  </div>
  <app-sidebar [triggerUpdate]="triggerSliderVisible"></app-sidebar>
</div>
