@import "src/styles/color";

.navbar-container {
    display: flex;
    justify-content: space-between;
    height: 66px;
    // background-color: #131921;
    background-color: #e8b2b2;
    color: #000000;
    align-items: center;
    padding: 0 2.8rem;
    width: 100%;

    .navbar-left {
        display: flex;
        align-items: center;
        // gap: 35px;

        .bhakshanam-logo {
            width: 78px;
            height: 57px;

            img {
                width: 100%;
                height: 100%;
            }
        }

        
    }

    .navbar-right {
        display: flex;
        align-items: center;
        gap: 30px;
        .search-box {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 41px;
            width: 521px;
            padding: 18px;
            position: relative;
            // background-color: #f0f2f5;
            // border: 1px solid gray;


            .text {
                outline: none;
                border: #f0f2f5;
                width: 100%;
                border-radius: 10px;
                margin-right: 5px;
                padding: 10px;
                // background-color: #f0f2f5;
            }
            .pi{
                color: #131921;
                position: absolute;
                right: 40px;
            }
        }

        .navbar-tabs {
            display: flex;
            gap: 30px;

            .nav-tab {

                &.active {
                    color: $orange-primary;
                }
            }
        }

        .account {
            display: flex;
            gap: 5px;
            align-items: center;

            .user-icon {
                border: 1px solid gray;
                border-radius: 50%;
                padding: 2px;
            }

            .pi-shopping-cart {
                font-size: 20px;
            }

            .pi {
                font-size: 20px;
            }

           
        }
    }
}
