.main-container {
  .products {
    border: 1px solid #e0e0e0;
    padding: 15px 0 20px 30px;
    border-radius: 4px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    .img-details {
      gap: 20px;
      display: flex;
      .image {
        width: 100px;
        height: 100px;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .details {
        display: flex;
        flex-direction: column;
        // align-items: center;
        justify-content: center;
        gap: 2px;
      }
    }
    .update-stock {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }
}
