.login-container{
    min-height: 100vh;
     background: linear-gradient(180deg, #f0c7bf 0%, #FFFDFD 100%);
     padding-top: 20px;
}
.margin-controller{
    max-width: 500px;
    // height: 500px;
     margin: 50px auto;
     display: flex;
     flex-direction: column;
     align-items: center;
     padding: 50px;
     gap: 20px;
}
.logo{
    width: 100px;
    height: 100px;
    border-radius: 30px;
}
.logo{
  img{
       border-radius: 200px;
       width: 100%;
    }
}
.login-form{
    display: flex;
    flex-direction: column;
    gap: 30px;
    
}
input{
    width: 500px;
    height: 70px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    outline: none;
    transition: border-color 0.3s;
}
input:focus{
    border: 1px solid #FF785B;
}
.login-button{
    width: 500px;
    height: 70px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    background-color: #FF785B;
    color: white;
    font-size: 20px;
    font-weight: 600;
}
a{
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
}
.heading{
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    color: #FF785B;
}
.login-button:focus{
    background-color: #f95f39;
}

