<app-spinner *ngIf="loginInProgress" ></app-spinner>
<div class="login-container">
  <div class="left-login"></div>
  <div class="right-login">
    <div class="error-container" *ngIf="error || error1">
      <i class="pi pi-exclamation-triangle"></i>
      <div class="error" *ngIf="error">
        Wrong login credential OR User is not activated!
      </div>
      <div class="error2" *ngIf="error1">incorrect password</div>
    </div>
    <form class="sub-right" [formGroup]="loginForm" (ngSubmit)="loginUser()">
      <h1>LOG-IN</h1>
      <div class="input-container">
        <div class="label">
          <label for="email">Email Adress</label>
        </div>
        <input
          type="email"
          class="input-field"
          placeholder="email@gmail.com"
          formControlName="email"
        />
      </div>
      <div class="input-container">
        <div class="label">
          <label for="password">Passowrd</label>
        </div>
        <div class="password-container">
          <input
            [type]="showPassword ? 'text' : 'password'"
            class="password"
            placeholder="*********"
            formControlName="password"
          />
          <i
            [class]="showPassword ? 'pi pi-eye' : 'pi pi-eye-slash '"
            (click)="onTogglePasswordVisibility()"
          ></i>
        </div>
      </div>
      <div class="checkbox-container">
        <div>
          <input type="checkbox" id="checkbox" />
          <label for="checkbox">Keep me logged in</label>
        </div>
        <div>Forget Passowrd?</div>
      </div>
      <app-primary-button type="submit">Log-in</app-primary-button>
      <span>Dont Have An Account? <a routerLink="/signup">Register</a> </span>
    </form>
  </div>
</div>
