@import "../../../styles/style.scss";

.login-container {
  height: 100vh;
  display: flex;
  overflow: hidden;
  background-color: #ffffff;
  .left-login {
    width: 50%;
    height: 100%;
 
    @media (max-width: 680px) {
      display: none;
    }
  }

  .right-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;

    @media screen and (max-width: 680px) {
      width: 100%;
    }

    .sub-right {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      gap: 40px;
      width: 100%;
      h1 {
        margin: 0;
        text-align: start;
        width: 65%;
        font-family: Inter;
        font-size: 36px;
        font-weight: 500;
        line-height: 30px;
        letter-spacing: 0.04em;
        text-align: left;
      }
      .title {
        text-align: start;
        width: 65%;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
      }
      .input-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        width: calc(100% - 35%);

        @media screen and (max-width: 520px) {
          width: calc(100% - 20%);
        }
        .label {
          width: 100%;
          display: flex;
          align-items: flex-start;
        }

        .password-container {
          width: 100%;
          height: 50px;
          border: none;
          border-bottom: 1px solid rosybrown;
          cursor: pointer;
          padding: 0 20px;
          border-radius: 5px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          .password {
            width: 100%;
            height: 100%;
            outline: none;
            border: none;
            cursor: pointer;
          }
        }
      }

      .checkbox-container {
        display: flex;
        width: calc(100% - 35%);
        justify-content: space-between;
        align-items: center;
        .forgot {
          cursor: pointer;
          color: #DB4444;
        }
        @media screen and (max-width: 370px) {
          flex-direction: column;
          align-items: flex-start;
          gap: 20px;
        }
        @media screen and (max-width: 520px) {
          width: calc(100% - 20%);
        }
      }
      app-primary-button {
        width: 100%;
        display: contents;
      }
    }
    .error-container {
      border: 1px solid transparent;
      border-radius: 8px;
      padding: 17px 13px;
      width: 350px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 6px;
      box-shadow: inset 0 0 10px #f8a100;
      i {
        font-size: xx-large;
        color: red;
      }
    }
  }
}
.login-container.ar {
  direction: rtl;
}
