<app-spinner *ngIf="loginInProgress"></app-spinner>
<div class="login-container" [ngClass]="{ ar: currentLanguage.code === 'ar' }">
  <div class="left-login"></div>
  <div class="right-login">
    <div class="error-container" *ngIf="error || error1">
      <i class="pi pi-exclamation-triangle"></i>
      <div class="error" *ngIf="error">
        Wrong login credential OR User is not activated!
      </div>
      <div class="error2" *ngIf="error1">{{ errorMessage }}</div>
    </div>
    <form class="sub-right" [formGroup]="loginForm" (ngSubmit)="loginUser()">
      <h1>LOG-IN</h1>
      <div class="input-container">
        <div class="label">
          <label for="email">{{
            "FORM_FIELD.EMAIL_ADDRESS" | translate
          }}</label>
        </div>
        <input
          type="email"
          class="input-field"
          placeholder="email@gmail.com"
          formControlName="email"
        />
      </div>
      <div class="input-container">
        <div class="label">
          <label for="password">{{ "FORM_FIELD.PASSWORD" | translate }}</label>
        </div>
        <div class="password-container">
          <input
            [type]="showPassword ? 'text' : 'password'"
            class="password"
            placeholder="*********"
            formControlName="password"
          />
          <i
            [class]="showPassword ? 'pi pi-eye' : 'pi pi-eye-slash '"
            (click)="onTogglePasswordVisibility()"
          ></i>
        </div>
      </div>
      <div class="checkbox-container">
        <div>
          <input type="checkbox" id="checkbox" />
          <label for="checkbox">{{'LOGIN.KEEP_ME_LOGGED_IN'|translate}}</label>
        </div>
        <div class="forgot" routerLink="/forgot-password">{{'LOGIN.FORGET_PASSWORD'|translate}}</div>
      </div>
      <app-primary-button type="submit">{{
        "LOGIN.LOG_IN" | translate
      }}</app-primary-button>
      <span
        >{{ "LOGIN.DNT_HAVE_AN_ACC" | translate }}
        <a routerLink="/signup">{{ "LOGIN.REGISTER" | translate }}</a>
      </span>
    </form>
  </div>
</div>
