.main-container {
  height: 25rem;
  background-color: black;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  // flex-direction: column;
  .footer-container {
    display: flex;
    gap: 2rem;

    .bhakshanam-container {
      .bhkshanam {
        font-family: Inter;
        font-size: 24px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0.03em;
        text-align: left;
        cursor: default;
      }
      .subscribe {
        font-size: 20px;
        font-weight: 500;
        line-height: 28px;
        letter-spacing: 0em;
        text-align: left;
        cursor: default;
      }
      .item {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        cursor: default;
      }
    }
    .items-container {
      display: flex;
      gap: 0.5rem;
      flex-direction: column;
      .heading {
        font-size: 20px;
        font-weight: 500;
        line-height: 28px;
        letter-spacing: 0em;
        text-align: left;
        cursor: default;
      }
      .item {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        cursor: default;
      }
      .download {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        .qr-download {
          display: flex;
          gap: 0.75rem;
          // flex-direction: column;
          .stores {
            display: flex;
            flex-direction: column;
            gap: 0.75rem;
          }
        }
        .social-medias {
          display: flex;
          gap: 2rem;
        }
      }
    }
  }
}
@media screen and (max-width: 920px) {
  .main-container {
    height: fit-content;
    .footer-container {
      flex-direction: column;
    }
  }
}
