<!-- <div class="main-container">
  <div
    class="order-card"
    *ngFor="let item of products"
    (click)="orderDetails(1)"
  >
    <div class="left">
      <div class="image">
        <img src="../../../../assets/images/g27cq4-500x500 1.svg" alt="" />
        <div class="name">Cake</div>
      </div>
      <div class="price">$650</div>
    </div>
    <div class="right">
      <div class="order-status">
        <div class="icon"></div>
        <div class="text">Delivery expected by Tue Feb 20</div>
      </div>
    </div>
  </div>
</div> -->
<app-order-card [cardItems]="ordersList"></app-order-card>
