.main-container {
  width: 100%;
  padding-top: 25px;
  display: flex;
  justify-content: center;
  gap: 10px;
  .sidebar {
    display: flex;
    flex-direction: column;
    width: 200px;
    gap: 10px;
    .header-container {
      padding: 15px;
      width: 100%;
      border: 1px solid transparent;
      border-radius: 4px;
      color: #87898d;
      background-color: #ffffff;
      font-weight: 700;
    }
    .body--container {
      width: 100%;
      border: 1px solid transparent;
      border-radius: 4px;
      gap: 15px;
      background-color: #ffffff;
      .items-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        .title--container {
          display: flex;
          width: 100%;
          padding: 10px;
          gap: 10px;
          color: gray;
          font-weight: 600;
        }
        .items-list {
          padding: 10px;
          padding-left: 40px;
          font-weight: 500;
          &.active{
            background-color: rgb(245,250,255);
          }
        }
        ::ng-deep .p-divider {
          margin: 0;
        }
      }
      .footer-container {
        padding: 10px;
        display: flex;
        gap: 10px;
        justify-content: center;
      
      }
    }
  }
  .right-container {
    width: 50rem;
    min-height: 450px;
    background-color: #ffffff;
    border-radius: 4px;
  }
}
