<div class="main-container">
  <div class="product-comtainer" *ngFor="let item of product">
    <div class="left">
      <div class="images">
        <img src="/assets/images/Noimage.jpg" alt="" />

        <img src="/assets/images/Noimage.jpg" alt="" />

        <img src="/assets/images/Noimage.jpg" alt="" />
      </div>
      <div class="image">
        <img src="/assets/images/Noimage.jpg" alt="" />
      </div>
    </div>
    <div class="right">
      <div class="product-details">
        <div class="product-name">
          {{ item.product_name | captlize }}
        </div>
        <div class="rating-status">
          <p-rating [(ngModel)]="value" [cancel]="false"></p-rating>

          |
          <div
            class="status"
            [ngStyle]="{ color: item.status == 'instock' ? '#00FF66' : 'red' }"
          >
            {{ item.status == "instock" ? "In Stock" : "Out of Stock" }}
          </div>
        </div>
        <div class="price">{{ item.price }}</div>
        <div class="description">
          {{ item.description }}
        </div>
      </div>
      <div class="buying-details">
        <div class="buttons">
          <div class="quantity">
            <div class="decrease" (click)="decreaseCount()">-</div>
            <div class="input">{{ item.count }}</div>
            <div class="increase" (click)="increaseCount()">+</div>
          </div>
          <app-primary-button (click)="buyNow()">Buy Now</app-primary-button>
          <div class="watchlist" >
            <img src="../../../../assets/images/love.svg" alt="" />
          </div>
        </div>
        <div class="features">
          <div class="top">
            <img src="../../../../assets/images/icon-delivery.svg" alt="" />
            <div class="content">
              <div class="heading">Free Delivery</div>
              <div class="title">
                Enter your postal code for Delivery Availability
              </div>
            </div>
          </div>
          <div class="bottom">
            <img src="../../../../assets/images/Icon-return.svg" alt="" />
            <div class="content">
              <div class="heading">Return Delivery</div>
              <div class="title">Free 30 Days Delivery Returns. Details</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
