.notification-container {
  padding: 20px;

  .notification-header {
    padding-bottom: 15px;
  }
  .main-contatiner {
    display: flex;
    align-items: center;
    height: 80px;
    gap: 15px;
    // background-color: aqua;
    padding-left: 10px;
    border-radius: 5px;
    &:hover{
        background-color: #f0f2f5;
    }
    .image {
      height: 60px;
      width: 60px;
  

      img {
        width: 100%;
        height: 100%;
      }
    }
    .right-container {
      .notification{}
      .date{
        font-size: small;
        color: gray;
      }
    }
  }
}
