<div class="notification-container">
  <div class="notification-header">
    <span>All Notification</span>
  </div>
  <div class="main-contatiner" *ngFor="let item of notificationList">
    <div class="image">
      <img [src]="item.image" alt="image" />
    </div>
    <div class="right-container">
      <div class="notification">
        <span class="text">{{ item.details }}</span>
      </div>
      <div class="date">
        <span class="date">{{ item.date }}</span>
      </div>
  
    </div>
</div>
</div>
