.productList-container {
  padding: 15px 0 20px 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  .main-container {
    display: flex;
    gap: 25px;
    flex-direction: column;
    .add-product {
      width: 90%;
      border: 1px solid #e0e0e0;
      padding: 10px;
      color: orange;
      border-radius: 4px;
      font-weight: 700;
      display: flex;
    }
    .products {
      border: 1px solid #e0e0e0;
      padding: 15px 0 20px 30px;
      border-radius: 4px;
      width: 90%;
      display: flex;
      justify-content: space-between;
      .img-details {
        gap: 20px;
        display: flex;
        .image {
          width: 100px;
          height: 100px;
          img {
            width: 100%;
            height: 100%;
          }
        }
        .details {
          display: flex;
          flex-direction: column;
          // align-items: center;
          justify-content: center;
          gap: 2px;
        }
      }
      .button-footer {
        display: flex;
        gap: 10px;
        justify-content: flex-end;
        align-items: end;
        padding-right: 10px;
        ::ng-deep .p-button {
          // width: ;
          padding: 4px;
          width: 50px;
          align-items: center;
          justify-content: center;
          height: fit-content;
        }
      }
    }
  }
}
