<div class="main-container">
  <div class="add-product" routerLink="/admin/addProduct">
    <!-- + {{ "BUTTON_ACTIONS.ADD_NEW_ADDRESS" | translate }} -->
    <app-primary-button> + Add Product </app-primary-button>
  </div>
  <div class="body-container">
    <p-table [value]="products" [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template pTemplate="header">
        <tr>
          <th>Image</th>
          <th>Product Name</th>
          <th>Discription</th>
          <th>price</th>
          <th>quantity</th>
          <th>Date Of Acc Del</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>
        <tr>
          <td>{{ product.Products }}</td>
          <td>{{ product.Confirmed }}</td>
          <td>{{ product.Packed }}</td>
          <td>{{ product.Shipped }}</td>
          <td>{{ product.Delivered }}</td>
          <td>{{ product.Delivered }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
