.main-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  .product-list {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-template-columns: auto auto auto auto;
    display: grid;
    gap: 4rem;
    .card {
      width: 16.875rem;
      &:hover {
        .image {
          .love {
            .add-cart {
              display: flex;
            }
          }
        }
      }
      .image {
        height: 15.625rem;

        img {
          width: 100%;
          height: 100%;
        }
        .love {
          display: flex;
          position: absolute;
          flex-direction: column;
          justify-content: space-between;
          width: 16.875rem;
          height: 15.625rem;
          .img-top {
            display: flex;
            justify-content: space-between;
            .image-love {
              width: 1.5rem; 
              height: 1.5rem;
              // background-color: #db4444;
            }
            .offer {
              width: 3.438rem;
              border-radius: 0.25rem;
              height: 1.75rem;
              background-color: #db4444;
              display: flex;
              justify-content: center;
              align-items: center;
              color: #ffffff;
              font-size: 12px;
              font-weight: 400;
              line-height: 18px;
              letter-spacing: 0em;
              text-align: left;
            }
          }
          .add-cart {
            background-color: #000000;
            // position: absolute;
            display: none;
            align-items: center;
            justify-content: center;
            height: 2.563rem;
            color: #ffffff;
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: left;
            border-radius: 0 0 4px 4px;
          }
        }
      }
      .card-bottom {
        .item-name {
          font-size: 16px;
          font-weight: 500;
          line-height: 24px;
          letter-spacing: 0em;
          text-align: left;
          cursor: default;
        }
        .item-price {
          //styleName: Title/16PX Medium;
          font-family: Poppins;
          font-size: 16px;
          font-weight: 500;
          line-height: 24px;
          letter-spacing: 0em;
          text-align: left;
          color: #db4444;
          cursor: default;
        }
      }
    }
  }
  .show-more {
    height: 50px;
    width: 100%;
    // background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
}
.product-list.ar {
  direction: rtl;
}

@media screen and (max-width: 1280px) {
  .main-container {
    .product-list {
      grid-template-columns: auto auto auto auto;
    }
  }
}
@media screen and (max-width: 1210px) {
  .main-container {
    .product-list {
      grid-template-columns: auto auto auto;
    }
  }
}
@media screen and (max-width: 920px) {
  .main-container {
    .product-list {
      grid-template-columns: auto auto;
    }
  }
}
@media screen and (max-width: 660px) {
  .main-container {
    .product-list {
      grid-template-columns: auto;
    }
  }
}
@media screen and (max-width: 400px) {
  .main-container {
    .product-list {
      grid-template-columns: auto;
    }
  }
}
