<div class="main-container" id="custom-field-interface">
  <div class="product-list" [ngClass]="{ ar: currentLanguage.code === 'ar' }">
    <div class="card" *ngFor="let item of itemsToShow">
      <div class="image">
        <div class="love">
          <div class="img-top">
            <div class="offer">-40%</div>
            <div class="image-love" (click)="addToWatchList(item.product_id)">
              <img src="/assets/images/love.svg" alt="" />
            </div>
          </div>
          <div class="add-cart" (click)="addToCart(item.product_id)">
            {{ "HOME.ADD_CART" | translate }}
          </div>
        </div>
        <div (click)="navigateProduct(item.product_id)" class="img-container" >
          <img
            *ngIf="item.image_file == null"
            src="/assets/images/Noimage.jpg"
            alt=""
          />
          <img
            *ngIf="item.image_file"
            [src]="item.image_file"
            alt="{{ item.product_name }}"
          />
        </div>
      </div>
      <div class="card-bottom" (click)="navigateProduct(item.product_id)">
        <div class="item-name">{{ item.product_name }}</div>
        <div class="item-price">{{ item.price | currency : "INR" }}</div>
        <p-rating [(ngModel)]="value" [cancel]="false"></p-rating>
      </div>
    </div>
  </div>
  <div class="show-more" (click)="toggleShowMore($event)">
    <app-primary-button
      ><div class="text">{{ showMoreText | translate }}</div>
    </app-primary-button>
  </div>
</div>
