<div class="orders--container">
  <p-toast></p-toast>
  <p-confirmDialog [style]="{ width: '50vw' }"></p-confirmDialog>
  <div class="order-container">
    <div class="heading"><h1>Your Orders</h1></div>
  </div>
  <div class="order-box" *ngFor="let item of products">
    <div class="order-image-details" (click)="orderDetails(item.id)">
      <div class="image">
        <img [src]="item.imageUrl" alt="" />
      </div>
      <div class="order-details">
        <div class="details">
          {{ item.productName }}
        </div>
        <div class="quantity">{{ item.quantity }}</div>
      </div>
    </div>
    <div class="price">{{ item.price | currency : "INR" }}</div>
    <div class="order-status-container">
      <div class="order-status">
        <div class="status-icon"></div>
        <span>order placed</span>
      </div>
      <div class="order-action">
        <p-button
          label="Cancel Order"
          (onClick)="confirm1()"
          styleClass="p-button-raised p-button-text p-button-warning"
        ></p-button>
      </div>
    </div>
  </div>

  <!-- mobile design start here -->

  <div class="order-box-mobile" *ngFor="let item of products" (click)="orderDetails(item.id)">
    <div class="order-image">
      <img [src]="item.imageUrl" alt="" />
    </div>
    <div class="details-and-order-status">
      <div class="order-status">
        <div class="status-icon"></div>
        <span>order placed</span>
      </div>
      <div class="details">
        {{ item.productName }}
      </div>
      <div class="price">{{ item.price | currency : "INR" }}</div>
    </div>
    <div class="order-action">
     
    <div class="icon">
      <i class="pi pi-angle-right"></i>
    </div>
  </div>
</div>
