/* You can add global styles to this file, and also import other style files */

@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

html {
  height: 100%;
  // overflow: hidden;
  overflow-x: hidden;
}

body {
  font-family: "Assistant", sans-serif;
  color: #474747;
  margin: 0px;
}


// body ::-webkit-scrollbar {
//   width: 7px;
//   height: 7px;
// }

/* Track */
// body ::-webkit-scrollbar-track {
//   background: #f1f1f1;
//   border-radius: 3.5px;
//   // margin: 20px 0;
// }

/* Handle */
// body ::-webkit-scrollbar-thumb {
//   // background: #888;
//   background-color: rgba(0, 0, 0, 0.5025);
//   border-radius: 3.5px;
// }

/* Handle on hover */
// body ::-webkit-scrollbar-thumb:hover {
//   background: rgb(143, 143, 143);
// }

::-webkit-scrollbar { display: none; }