.back-btn-container {
  background-color: #ffffff;
  padding: 10px 20px;
  display: none;
  gap: 5px;
  align-items: center;
}
.back-btn-container.ar {
  direction: rtl;
  i {
    rotate: 180deg;
  }
}

@media screen and (max-width: 580px) {
  .back-btn-container {
    display: flex;
  }
}
