@import "/src/styles/color";

.language-selector-container {
  display: flex;
  justify-content: flex-end;
  margin: 0.5rem 0.5rem;
  z-index: 1002;

  position: relative;
  color: #ffffff;
  font-family: Poppins;
  .title {
    padding-right: 1rem;
    font-weight: 300;
  }

  .language-details {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    cursor: pointer;

    .icon {
      font-size: 0.75rem;
    }

    .flag {
      img {
        width: 30px;
        height: 30px;
      }
    }
  }

  .language-selected {
    font-weight: 300;
  }

  .languages-dropdown {
    display: none;
    position: absolute;
    top: 1.9rem;
    right: 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #ffffff;
    color: black;
    width: max-content;

    .available-language {
      display: flex;
      padding: 0.5rem 1rem;
      cursor: pointer;

      &:hover {
        background-color: #f0f2f5;
      }

      // .flag {
      //   margin: 0 0.5rem 0 0;
      // }

      .name {
        font-size: 0.95rem;
        font-weight: 500;
      }
    }

    &.active {
      display: block;
    }
  }

  .countrys-dropdown {
    display: none;
    position: absolute;
    top: 1.9rem;
    right: 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #ffffff;
    color: black;
    width: max-content;

    .available-country {
      display: flex;
      padding: 0.5rem 1rem;
      cursor: pointer;

      &:hover {
        background-color: #f0f2f5;
      }

      .flag {
        margin: 0 0.5rem 0 0;

        img {
          width: 30px;
          height: 30px;
        }
      }

      .name {
        font-size: 0.95rem;
        font-weight: 500;
      }
    }

    &.active {
      display: block;
    }
  }
}

.language-selector-container.ar {
  .languages-dropdown {
    right: auto;
  }
  .countrys-dropdown {
    right: auto;
    .available-country {
      align-items: center;
      gap: 5px;
    }
  }
}
